version: '2.2'
services:
  elasticsearch:
    build: elastic-docker
    ports:
      - 9200
    volumes:
      - esdata:/usr/share/elasticsearch/data

  frontend:
    build: frontend
    volumes:
      - frdata:/public

  controller:
    build: .
    ports:
      - 80:4567
    volumes:
      - frdata:/public
    environment:
      - MB_SEARCH=${MB_SEARCH}
    network_mode: host
    depends_on:
      - elasticsearch
      - frontend

volumes:
  esdata:
    driver: local
  frdata:
    driver: local
